<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
          akka {
            actor  {
              provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
            }
            remote {
              helios.tcp {
                port = 8080
                hostname = localhost
                maximum-frame-size = 4000000b
              }
            }
          }
      ]]>
    </hocon>
  </akka>

  <appSettings>
    <add key="UserFeedbackPersistenceActor" value="akka.tcp://User-Feedback-Persistence@localhost:8070/user/UserFeedbackPersistence"/>
  </appSettings>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>