<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
          akka {
            actor  {
							provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
            }
            remote {
              helios.tcp {
                transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
		            applied-adapters = []
		            transport-protocol = tcp
                maximum-frame-size = 4000000b
                hostname = "127.0.0.1"
                port = 0
              }
            }
            cluster {
							seed-nodes = ["akka.tcp://User-Feedback-Central@127.0.0.1:4053"]
							roles = [central-processor]
						}
          }
      ]]>
    </hocon>
  </akka>

  <appSettings>
    <add key="UserFeedbackPersistenceActor" value="akka.tcp://User-Feedback-Persistence@localhost:8070/user/UserFeedbackPersistence"/>
  </appSettings>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>